.all-products {
  padding-top: 80px;
}

.all-products__title {
  position: relative;
  margin: 0;
  margin-bottom: 3px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;

  &::before {
    position: absolute;
    content: "";
    top: -54px;
    left: 125px;
    .size(31px, 31px);
    background-image: url("../img/icon-plus.svg");
    opacity: 0.5;
  }
}

.all-products__taste {
  margin-left: 30px;
  padding: 0;
  font-family: @arial-font;
  font-size: 12px;
  line-height: 16px;
  color: @gray;
}

@media @mobile-width-only {
  .all-products__btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 91px 10px 98px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    background-color: @gray-light;
    color: @black;
  }
}

@media @tablet-width {
  .all-products {
    background-color: transparent;
  }

  .all-products__wrapper {
    display: flex;
    flex-direction: column;
    padding-top: 165px;
  }

  .all-products__title {
    max-width: 140px;
    margin: 0 auto;
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 20px;


    &::before {
      position: absolute;
      content: "";
      top: -112px;
      left: 43px;
      .size(61px, 61px);
      background-image: url("../img/icon-plus.svg");
      opacity: 0.2;
    }
  }

  .all-products__taste {
    margin: 0 auto;
    margin-bottom: 90px;
    max-width: 170px;
    font-family: @arial-font;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: @gray;
  }

  .all-products__btn {
    display: inline-block;
    padding: 10px 77px 10px 78px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    margin: 0 38px;
    background-color: @gray-light;
    color: @black;
  }
}


@media @desktop-width {
  .all-products__wrapper {
    padding: 0;
    padding-bottom: 40px;
  }

  .all-products__title {
    max-width: 135px;
    margin: 0 auto;
    margin-bottom: 27px;

    &::before {
      top: -110px;
      left: 38px;
    }
  }

  .all-products__taste {
    margin: 0 auto;
    margin-bottom: 88px;
    max-width: 170px;
    font-family: @arial-font;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: @gray;
  }

  .all-products__btn {
    display: inline-block;
    padding: 10px 38px 10px 39px;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    vertical-align: middle;
    margin: 0 38px;
    background-color: @gray-light;
    color: @black;
  }
}
