.all-products__wrapper {
  margin-left: 20px;
}

.all-products__title {
  margin-left: 40px;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.all-products__taste {
  margin-left: 30px;
  padding: 0;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: @gray;
}
