.catalog-main {
  margin: 0;
  padding: 0;
}

.catalog-main__wrapper {
  min-width: 320px;
  margin: 0 auto;
  padding: 0;
}

.catalog-main__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.catalog-main__item {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-top: 1px solid @gray-border;
}

.catalog-main__item:last-child {
  border-bottom: 1px solid @gray-border;
}

.catalog-main__title {
  margin: 14px 20px 28px 20px;
  padding-bottom: 3px;
}

@media @tablet-width {
  .catalog-main__wrapper {
    padding-left: 32px;
    padding-right: 28px;
    margin: 0 auto;
    padding-top: 55px;
    padding-bottom: 40px;
  }

  .catalog-main__title {
    margin: 0;
    margin-bottom: 165px;
  }

  .catalog-main__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .catalog-main__item {
    border-top: none;
    background-color: @gray-light;

    &:last-child {
      background-color: transparent;
      border: 1px solid @gray-border;
    }
  }
}

@media @desktop-width {
  .catalog-main__wrapper {
    .wrapper();
    padding-top: 72px;
  }

  .catalog-main__title {
    margin: 0;
    margin-bottom: 165px;
  }

  .catalog-main__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }
}
