.copyright {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: @arial-font;
  font-size: 16px;
  line-height: 16px;
  color: @gray;
  border-top: 1px solid @gray-border;
}

.copyright__link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-right: -7px;

  &:active {
    opacity: 0.3;
  }
}

.copyright__logo {
  fill: @gray;

  &:hover,
  &:focus {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-width {
  .copyright {
    width: 165px;
    margin: 0;
    margin-top: -2px;
    padding: 0;
    border: none;
  }

  .copyright__link {
    margin: 0;
  }

  .copyright__logo {
    margin-left: 16px;
    margin-right: -7px;
    .size(40px, 40px);
    opacity: 0.8;
  }
}

@media @desktop-width {
  .copyright {
    width: 163px;
    margin: 0;
  }
}
