.main-content {
  margin: 0;
  padding: 0;
}

.main-content__wrapper {
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: 100% 305px;
  text-align: center;
}

@media @mobile-width-only {
  .main-content__wrapper {
    display: flex;
    flex-direction: column;
    .wrapper();
  }

  .main-content__title {
    margin: 0;
    padding-top: 26px;
    padding-bottom: 13px;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    color: @white;
  }

  .main-content__slogan {

    padding-bottom: 12px;
    font-size: 14px;
    line-height: 14px;
    color: @white;
    text-transform: uppercase;
  }


  .main-content__image {
    padding-bottom: 4px;
  }

  .main-content__button {
    margin-bottom: 2px;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 18px;
  }

}

@media @tablet-width {
  .main-content {

    margin: 0 auto;
    margin-bottom: -32px;

  }

  .main-content__wrapper {
    .wrapper();
    position: relative;
    background-image: none;
    background-color: transparent;
  }

  .main-content__title {

    margin-left: 88px;
    margin-right: 200px;
    padding-top: 15px;

    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: @black;
    font-weight: normal;
  }

  .main-content__slogan {

    margin-left: 89px;

    margin-right: 200px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @black;
  }

  .main-content__image {
    .size(709px, 609px);
    position: relative;

    top: 0;
    left: 0;

  }

  .main-content__button {
    position: absolute;
    left: 120px;

    top: 244px;
    padding: 16px 28px 15px 25px;
    font-size: 20px;
    line-height: 20px;

  }
}

@media @desktop-width {
  .main-content {

    width: 1300px;
    margin-top: 92px;
  }

  .main-content__title {
    margin-left: 82px;

    max-width: 540px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: @black;
    font-weight: normal;
  }

  .main-content__slogan {

    margin-left: 82px;
    text-align: left;
    font-size: 20px;
    line-height: 20px;

    text-transform: uppercase;
    color: @black;
  }

  .main-content__wrapper {
    position: relative;


  }

  .main-content__image {
    .size(552px, 499px);
    position: absolute;

    top: -65px;
    left: 491px;

  }

  .main-content__button {
    margin-left: 70px;
    top: 249px;
    left: 52px;

  }
}
