.main-form__wrapper {
  .wrapper();
  padding-top: 14px;
  padding-bottom: 31px;
}

.main-form__title {
  margin: 0;
  margin-bottom: 26px;
}

.main-form__description {
  width: 232px;
  margin: 0;
  margin-bottom: 38px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.main-form__button {
  margin-bottom: 19px;
  padding: 12px 76px 10px 80px;
}

.main-form__note {
  font-size: 14px;
  line-height: 16px;
  font-family: @arial-font;
  margin-left: 62px;
}

@media @tablet-width {
  .main-form__wrapper {
    padding-top: 55px;
  }

  .main-form__title {
    margin: 0;
    margin-bottom: 55px;
  }

  .main-form__description {
    width: 325px;
    margin: 0;
    margin-bottom: 65px;
    margin-left: 40px;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }

  .main-form__footer {
    display: flex;
    align-items: center;
  }

  .main-form__button {
    margin-left: 41px;
    margin-bottom: 20px;
    padding: 17px 65px 16px 64px;
    font-size: 20px;
    line-height: 20px;
  }

  .main-form__note {
    margin-top: -22px;
    margin-left: 62px;
    font-size: 16px;
    line-height: 16px;
    font-family: @arial-font;
  }
}

@media @desktop-width {
  .main-form__wrapper {
    padding-top: 72px;
  }

  .main-form__description {
    margin: 0;
    margin-bottom: 65px;
    margin-left: 0;
  }

  .main-form__button {
    width: 440px;
    margin-left: 0;
    margin-bottom: 20px;
    padding: 16px 65px 16px 66px;
    font-size: 20px;
    line-height: 20px;
  }

  .main-form__note {
    margin-left: 82px;
  }
}
