.main-content {
  margin: 0;
  padding: 0;
}

@media @mobile-width-only {
  .main-content__wrapper {
    display: flex;
    flex-direction: column;
    .wrapper();
    margin-bottom: 20px;
    padding-top: 26px;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-repeat: no-repeat;
    background-size: 100% 305px;
    text-align: center;

    @media @retina {
      background-image: url("../img/index-background-mobile@2x.jpg");
      background-repeat: no-repeat;
      background-size: 100% 305px;
      text-align: center;
    }
  }

  .main-content__title {
    margin: 0;
    margin-bottom: 26px;
    font-size: 36px;
    font-weight: normal;
    line-height: 36px;
    color: @white;
  }

  .main-content__slogan {
    margin: 0;
    margin-bottom: 28px;
    padding: 0;
    font-size: 14px;
    line-height: 14px;
    color: @white;
    text-transform: uppercase;
  }

  .main-content__button {
    padding: 12px 24px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media @tablet-width {
  .main-content {
    margin: 0 auto;
  }

  .main-content__wrapper {
    .wrapper();
    margin: 0;
    position: relative;
    padding-top: 55px;
    background-image: none;
    background-color: transparent;
  }

  .main-content__header {
    display: block;
    width: 450px;
    margin-left: 88px;
  }

  .main-content__title {
    margin: 0;
    margin-bottom: 42px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: @black;
    font-weight: normal;
  }

  .main-content__slogan {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @black;
  }

  .main-content__image {
    .size(709px, 609px);
    position: relative;
    top: 0;
    left: 0;
  }

  .main-content__button {
    position: absolute;
    left: 120px;
    top: 285px;
    padding: 16px 28px 15px 25px;
    font-size: 20px;
    line-height: 20px;
  }
}

@media @desktop-width {
  .main-content {

    width: 1300px;
  }

  .main-content__wrapper {
    display: flex;
    position: relative;
    margin-bottom: 55px;
    padding-top: 105px;
  }

  .main-content__header {
    margin-left: 80px;
  }

  .main-content__title {
    max-width: 540px;
    text-align: left;
    font-size: 60px;
    line-height: 60px;
    color: @black;
    font-weight: normal;
  }

  .main-content__slogan {
    text-align: left;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    color: @black;
  }


  .main-content__image {
    margin: 0;
    padding: 0;
    .size(552px, 499px);
    position: relative;
    top: -80px;
    left: -80px;
  }

  .main-content__button {
    margin-left: 70px;
    top: 340px;
    left: 50px;
  }
}
