
@media (min-width: @tablet-width) {
  .page-header  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 29px;
  }
  .page-header__logo img {
    padding-right: 95px;
  }
}


@media (min-width: @desktop-width) {
  .page-header  {
    padding-top: 53px;
    padding-left: 109px;
  }
}
