.product__wrapper {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__title {

  display: block;
  max-width: 100px;
  margin: 0;
  padding-top: 22px;
  padding-bottom: 10px;

  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__order {
  margin-left: 20px;
  margin-bottom: 24px;
  margin-right: 20px;
}

.product__description {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: @arial-font;
  font-size: 12px;
  line-height: 16px;
  color: @gray;

  border-collapse: collapse;

}

.product__description th {
  font-weight: normal;
  text-align: left;
}

.product__description td {
  text-align: right;
}


@media @mobile-width-only {
  .product__info {
    width: 50%;
  }

  .product__order {
    padding: 9px 77px 9px 79px;
    font-size: 16px;
    line-height: 20px;
  }
}

@media @tablet-width {
  .product {
    position: relative;
  }


  .product__wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product__title {
    display: block;

    max-width: 130px;
    margin: 0 60px;
    padding: 0;
    padding-bottom: 18px;
    padding-top: 163px;

    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  .product__image {

    position: absolute;
    padding: 0;
    margin: 0;
    top: -48px;

  }

  .product__info {
    padding: 0 38px;
  }

  .product__description {
    width: 100%;

    padding: 0;
    font-size: 16px;
    line-height: 16px;
    color: @gray;
    border-collapse: collapse;
  }

  .product__description tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__description td {
    padding: 8px 0;
  }


  .product__order {
    margin: 31px 38px 38px 38px;
    padding: 10px 92px 10px 93px;
    font-size: 16px;
    line-height: 20px;
  }

}

@media @desktop-width {
  .product__title {
    display: block;

    max-width: 130px;
    margin: 0;
    padding-left: 20px;
    padding-bottom: 19px;
    padding-top: 164px;
  }

  .product__image {
    position: absolute;
    padding: 0;
    margin: 0;
    top: -45px;

  }

  .product__info {
    padding: 0 38px;
  }


  .product__description {
    width: 167px;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    color: @gray;
    border-collapse: collapse;
  }

  .product__description td {
    padding: 8px 0 7px 0;
  }

  .product__order {
    margin: 33px 38px 40px 38px;
    padding: 10px 53px 10px 55px;
    font-size: 16px;
    line-height: 20px;
  }

}
