.product__wrapper {
  margin-right: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.product__title {
  margin: 0;
  padding-right: 88px;
  padding-top: 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

.product__order {
  margin-left: 20px;
  margin-bottom: 25px;
  margin-right: 20px;
}

.product__description {
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: @arial-font;
  font-size: 12px;
  line-height: 16px;
  color: @gray;
}

.product__description th {
  font-weight: normal;
  text-align: left;
}

.product__description td {
  text-align: right;
}

@media @tablet-width {
  .product__wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .product__title {
    display: block;
    width: 130px;
    margin: 0 50px;
    padding: 0;
    padding-bottom: 30px;
    padding-top: 39px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
  }

  .product__image {
    padding: 0 80px;
  }

  .product__info {
    padding: 0 38px;
  }

  .product__description {
    width: 100%;
    margin-bottom: 35px;
    padding: 0;
    font-size: 16px;
    line-height: 16px;
    color: @gray;
    border-collapse: collapse;
  }

  .product__description tr {
    border-bottom: 1px solid #cdcdcd;
  }

  .product__description td {
    padding: 8px 0;
  }
}

@media @desktop-width {
  .product__title {
    display: block;
    width: 125px;
    margin: 0 10px;
    padding: 0;
    padding-bottom: 28px;
    padding-top: 38px;
  }

  .product__image {
    padding: 0 40px;
  }

  .product__info {
    padding: 0 38px;
  }


}
