.site-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
}

.site-list__item {
  font-size: 20px;
  line-height: 20px;
  font-weight: normal;
  color: @black;
  text-transform: uppercase;
}

.site-list a {
  display: block;
  margin-left: -20px;
  margin-right: -20px;
  padding: 22px 0;
  text-align: center;
  border-top: 1px solid @gray-border;
}

.site-list__item:last-child {
  margin-left: -20px;
  margin-right: -20px;
  border-bottom: 1px solid @gray-border;
}

@media @tablet-width {
  .site-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    text-align: right;
  }

  .site-list__item {
    font-size: 18px;
    line-height: 25px;

    &:last-child {
      margin: 0;
      border: none;
    }
  }

  .site-list__item a {
    margin: 0;
    padding: 20px 10px;
    background: none;
    border: none;
  }
}

@media @desktop-width {
  .site-list__item {
    font-size: 20px;
    line-height: 25px;
    margin-right: 36px;
  }

  .site-list__item a {
    color: @black;
  }

  .site-list__item--active {
    border-bottom: 2px solid @white;
  }
}
