.social__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 21px 80px 20px 70px;
  align-items: center;
  list-style: none;
}

.social__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }
}

.social__logo {
  &:hover,
  &:focus {
    fill: @green;
  }

  &:active {
    opacity: 0.3;
  }
}

@media @tablet-width {
  .social {
    width: 325px;
  }

  .social__list {
    padding: 0;
    padding-left: 89px;
    padding-right: 79px;
  }

  .social__item {
    margin: 0;
    margin-right: 29px;
    padding: 0;
    border: none;
  }

  .social__logo {
    opacity: 0.8;

    &--vk {
      .size(30px, 16px);
    }

    &--instagram {
      .size(23px, 23px);
    }

    &--facebook {
      .size(14px, 28px);
    }
  }
}

@media @desktop-width {
  .social__list {
    margin-top: 0;
  }
}
